body{
  margin: 0mm;
}
.qiche{
  position: absolute;
  top: 0px;
}
.bai{
  position: absolute;
  left: -23px;
  top: 0px;
}

.arm{
  position: absolute;
  padding-left: 18px;
  padding-top: 24px;
  color: black;
  font-family: initial;
  width: 56px;
}
.one {
  position: absolute;
  border-bottom-color:rgb(111, 120, 124);
  margin: 39px 1000px 0px 30px;
  padding-top: 33px;
  
}
.two {
  position: absolute;
  margin: 90px 1000px 0px 30px;
  padding-top: 70px;
}
.three {
  position: absolute;
  margin: 130px 1000px 0px 30px;
  padding-top: 107px;
}
.four {
  position: absolute;
  margin: 170px 1000px 0px 30px;
  padding-top: 144px;
}
.five {
  position: absolute;
  margin: 210px 1000px 0px 30px;
  padding-top: 181px;
}
.six {
  position: absolute;
  margin: 250px 1000px 0px 30px;
  padding-top: 218px;
}
.alo{
  position: absolute;
  margin-left: 91px;
  padding:35px 0px 0px 73px;
  width: 130px;
}
.c-masthead__headline{
  position: absolute;
  color: white;
  margin: 172px 0px 0px 160px;
  height :100;
  font-size: 30px;
  font-weight: 500;
}
.c-masthead__subtitle__title{
  font-size: 60px;
  font-weight: 800;
}
.IN{
  position: relative;
  top: -70px;
}
.WH{
  position: relative;
  top: -140px;
}
.c-masthead__hr{
  position: absolute;
  background-color: #ffc700 !important;
  display: block;
  height: 3px;
  width: 900px;
  top: 200px;

}
.c-masthead__description{   
  position: absolute;
  top: 250px;
  font-size: 20px;
  font-weight: 200;
}
.c-masthead__cta{
  border-color: #ffc700;
  border-style: solid;
  border-width: 3 px;
  padding: 10px 50px;
  background-color: #ffc700;
  border-radius: 40px;
  width: 101px;
  font-size: 19px;
}
.c-masthead__cta a{
  color:#333e48;
  text-decoration: none;
  font-weight: 300;
}
.allbottom{
  width: 960px;
  position: absolute;
  top: 800px;
  
}
.products{
  left: 300px;
  font-size: 44px;
  line-height: 1.25;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.from {
  font-size: 14px;
  font-weight: 400;
}
.xingpian {
  height: 150px;
  margin-left: 400px;
}
.Processor{
  text-align:center;
}
.Technology1 {
  text-align:center;
  font-size: 28px;
  font-weight: 300;
  width: 365px;
  margin-left: 310px;
}
.Armis {
  text-align:center;
  width: 365px;
  line-height: 1.65;
  margin-left: 290px;
}
.yun {
  height: 150px;
  position: absolute;
  margin-left: 1000px;

}
.IoT {
  position: absolute;
  text-align:center;
  width: 365px;
  margin: 150px 0px 0px 895px;
}
.Technology2 {
  position: absolute;
  text-align:center;
  width: 365px;
  font-size: 28px;
  font-weight: 300;
  margin: 191px 0px 0px 898px;
}
.Armremoves {
  position: absolute;
  text-align:center;
  width: 365px;
  margin: 343px 0px 0px 890px;
}
.xiatu {
  position: absolute;
  left: 100px;
  top: 1800px;
  width: 1580px;
}
.Drive {
  color: inherit;
  font-size: 48px;
  font-weight: 700;
  line-height: 42px;
  margin: 0 0 64px;
  text-align: center;
  left: 400px;
}
.shiping {
  position: absolute;
  left: 200px;
  width: 1080px;
}
.shangyejie {
  
}