body{
  margin: 0mm;
}
.qiche{
  position: absolute;
  top: 0px;
}
.bai{
  position: absolute;
  left: -23px;
  top: 0px;
}

.arm{
  position: absolute;
  padding-left: 18px;
  padding-top: 24px;
  color: black;
  font-family: initial;
  width: 56px;
}
.one {
  position: absolute;
  border-bottom-color:rgb(111, 120, 124);
  margin: 39px 1000px 0px 30px;
  padding-top: 33px;
  
}
.two {
  position: absolute;
  margin: 90px 1000px 0px 30px;
  padding-top: 70px;
}
.three {
  position: absolute;
  margin: 130px 1000px 0px 30px;
  padding-top: 107px;
}
.four {
  position: absolute;
  margin: 170px 1000px 0px 30px;
  padding-top: 144px;
}
.five {
  position: absolute;
  margin: 210px 1000px 0px 30px;
  padding-top: 181px;
}
.six {
  position: absolute;
  margin: 250px 1000px 0px 30px;
  padding-top: 218px;
}
.alo{
  position: absolute;
  margin-left: 91px;
  padding:35px 0px 0px 73px;
  width: 130px;
}
.c-masthead__headline{
  position: absolute;
  color: white;
  margin: 172px 0px 0px 160px;
  height :100;
  font-size: 30px;
  font-weight: 500;
}
.c-masthead__subtitle__title{
  font-size: 60px;
  font-weight: 800;
}
.IN{
  position: relative;
  top: -70px;
}
.WH{
  position: relative;
  top: -140px;
}
.c-masthead__hr{
  position: absolute;
  background-color: #ffc700 !important;
  display: block;
  height: 3px;
  width: 900px;
  top: 200px;

}
.c-masthead__description{
  position: absolute;
  top: 250px;
  font-size: 20px;
  font-weight: 200;
}
.c-masthead__cta{
  border-color: #ffc700;
  border-style: solid;
  border-width: 3px;
  padding: 10px 50px;
  background-color: #ffc700;
  border-radius: 40px;

  width: 101px;
  font-size: 19px;
}
.c-masthead__cta a{
  color:#333e48;
  text-decoration: none;
  font-weight: 300;
}
