body{
  margin: 0mm;
}
.qiche{
  position: absolute;
  top: 0px;
}
.bai{
  position: absolute;
  height: 6780px;
  width: 113px;
  left: -23px;
  top: 0px;
}

.arm{
  position: absolute;
  padding-left: 18px;
  padding-top: 24px;
  color: black;
  font-family: initial;
  width: 56px;
}
.one {
  position: absolute;
  border-bottom-color:rgb(111, 120, 124);
  margin: 39px 1000px 0px 30px;
  padding-top: 33px;
  
}
.two {
  position: absolute;
  margin: 90px 1000px 0px 30px;
  padding-top: 70px;
}
.three {
  position: absolute;
  margin: 130px 1000px 0px 30px;
  padding-top: 107px;
}
.four {
  position: absolute;
  margin: 170px 1000px 0px 30px;
  padding-top: 144px;
}
.five {
  position: absolute;
  margin: 210px 1000px 0px 30px;
  padding-top: 181px;
}
.six {
  position: absolute;
  margin: 250px 1000px 0px 30px;
  padding-top: 218px;
}
.alo{
  position: absolute;
  margin-left: 91px;
  padding:35px 0px 0px 73px;
  width: 130px;
}
.c-masthead__headline{
  position: absolute;
  color: white;
  margin: 172px 0px 0px 160px;
  height :100;
  font-size: 30px;
  font-weight: 500;
}
.c-masthead__subtitle__title{
  font-size: 60px;
  font-weight: 800;
}
.IN{
  position: relative;
  top: -70px;
}
.WH{
  position: relative;
  top: -140px;
}
.c-masthead__hr{
  position: absolute;
  background-color: #ffc700 !important;
  display: block;
  height: 3px;
  width: 900px;
  top: 200px;

}
.c-masthead__description{   
  position: absolute;
  top: 250px;
  font-size: 20px;
  font-weight: 200;
}
.c-masthead__cta{
  border-color: #ffc700;
  border-style: solid;
  border-width: 3 px;
  padding: 10px 50px;
  background-color: #ffc700;
  border-radius: 40px;
  width: 101px;
  font-size: 19px;
}
.c-masthead__cta a{
  color:#333e48;
  text-decoration: none;
  font-weight: 300;
}
.allbottom{
  width: 960px;
  position: absolute;
  top: 800px;
  
}
.products{
  left: 300px;
  font-size: 44px;
  line-height: 1.25;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.from {
  font-size: 14px;
  font-weight: 400;
}
.xingpian {
  height: 150px;
  margin-left: 400px;
}
.Processor{
  text-align:center;
}
.Technology1 {
  text-align:center;
  font-size: 28px;
  font-weight: 300;
  width: 365px;
  margin-left: 310px;
}
.Armis {
  text-align:center;
  width: 365px;
  line-height: 1.65;
  margin-left: 290px;
}
.yun {
  height: 150px;
  position: absolute;
  margin-left: 1000px;

}
.IoT {
  position: absolute;
  text-align:center;
  width: 365px;
  margin: 150px 0px 0px 895px;
}
.Technology2 {
  position: absolute;
  text-align:center;
  width: 365px;
  font-size: 28px;
  font-weight: 300;
  margin: 191px 0px 0px 898px;
}
.Armremoves {
  position: absolute;
  text-align:center;
  width: 365px;
  margin: 343px 0px 0px 890px;
}
.processor1 a{
  text-decoration: none;
  color:#2db6e8;
  margin-left: 400px;
  font-size: 18px;
}
.processor2 {
  position: relative;
  top: -30px;
  left: 610px;
}
.liebiao {
  position: relative;
  top: 1600px;
  width: 1500px;
  height: 200px;
  background-color: #333e48;
  margin-left:150px;
}
.liebiao ul li{
  top: 1650px;
  z-index: 2;
  display:inline-block;
  padding-right:40px;
  line-height: 20px;
  color: white;
  margin-top:70px;
  margin-left:60px;
  font-size:18px;
  font-weight:20px;
}
.liebiao ul .t2{
  border-right:0.5px solid #ffffff;
  height:20px;
}
.liebiao ul .t1 {
  font-size: 20px;
  font-weight: 200;
}
.liebiao ul .t2:hover{
  color:#fff111;
}
.xiatu {
  position: absolute;
  left: 100px;
  top: 1800px;
  width: 1580px;
}
.Drive {
  color: inherit;
  font-size: 48px;
  font-weight: 700;
  line-height: 42px;
  margin: 0 0 64px;
  text-align: center;
  left: 400px;
}
.beijin2 {
  position: absolute;
  top: 700px;
  width: 2000px;
  height:2518px;
  background-color: #333e48;
}
.shangyejie {
  position: absolute;
  left: calc(50% - 150px);
  background-size: cover;
  top: 700px;
}
.shiping {
  position: absolute;
  left: 200px;
  width: 1080px;
}
.shangyejiewengzi {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0 0 10px;
  color: #ffffff;
  position: absolute;
  top: 2700px;
  left: 300px;
}
.shangyejiewangzi2 {
  font-size: 48px;
  line-height: 1.25;
  margin: 0 0 60px;
  font-weight: 500;
}
.shangyejiewangzi3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 30px;
}
.shangyejiechaolianjie {
  text-decoration: none;
  color: #2db6e8;
  font-size: 22px;
  font-weight: 400;
}
.zhongjian {
  position: absolute;
  top: 3400px;
  left: 300px;
}
.xiada5g p {
  position: relative;
  top: 17px;
  left: 75px;
}
.xiadaartificial-intelligence p{
  position: relative;
  top: 17px;
  left: 5px;
}
.xiadaautomotive p {
  position: relative;
  top: 17px;
  left: 40px;
}
.xiadainfrastructure p {
  position: relative;
  top: 17px;
  left: 38px;
}
.xiadasmart-cities p {
  position: relative;
  top: 17px;
  left: 40px;
}
.xiadawearables p {
  position: relative;
  top: 17px;
  left: 50px;
}
.MoreSolutions {
  position: relative;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
}
.datu5g {
  position: absolute;
  background-color: #ffffff;
  width: 164px;
  height: 155px;
}
.tu5g {
  width: 70px;
  position: relative;
  left: 47px;
  top: 42.5px;
}
.datuartificial-intelligence {
  position: absolute;
  top: 86px;
  left: 164.5px;
  background-color: #ffffff;
  width: 164px;
  height: 155px;
}
.artificial-intelligence {
  width: 70px;
  position: relative;
  left: 47px;
  top: 42.5px;
}
.datuautomotive {
  position: absolute;
  top: 86px;
  left: 329.5px;
  background-color: #ffffff;
  width: 164px;
  height: 155px;
}
.automotive {
  width: 70px;
  position: relative;
  left: 47px;
  top: 42.5px;
}
.datuinfrastructure {
  position: absolute;
  top: 86px;
  left: 494px;
  background-color: #ffffff;
  width: 164px;
  height: 155px;
}
.infrastructure {
  width: 70px;
  position: relative;
  left: 47px;
  top: 42.5px;
}
.datusmart-cities {
  position: absolute;
  top: 86px;
  left: 659px;
  background-color: #ffffff;
  width: 164px;
  height: 155px;
}
.smart-cities {
  width: 70px;
  position: relative;
  left: 47px;
  top: 42.5px;
}
.datuwearables {
  position: absolute;
  top: 86px;
  left: 824px;
  background-color: #ffffff;
  width: 164px;
  height: 155px;
}
.wearables {
  width: 70px;
  position: relative;
  left: 47px;
  top: 42.5px;
}
.xiada5g {
  position: relative;
  top: 155px;
  background-color: #007ea5;
  width: 164px;
  height: 65px;
}
.xiadaartificial-intelligence {
  position: relative;
  top: 74px;
  left: 164.5px;
  background-color: #007ea5;
  width: 164px;
  height: 65px;
}
.xiadaautomotive {
  position: relative;
  top: -6.5px;
  left: 329.5px;
  background-color: #007ea5;
  width: 164px;
  height: 65px;
}
.xiadainfrastructure {
  position: relative;
  top: -88px;
  left: 494px;
  background-color: #007ea5;
  width: 164px;
  height: 65px;
}
.xiadasmart-cities {
  position: relative;
  top: -169px;
  left: 659px;
  background-color: #007ea5;
  width: 164px;
  height: 65px;
}
.xiadawearables {
  position: relative;
  top: -250px;
  left: 824px;
  background-color: #007ea5;
  width: 164px;
  height: 65px;
}
.achalianjie {
  text-decoration: none;
  color: #ffffff;
}
.zhongjian1 {
  background-color: #ffffff;
  width: 3000px;
  height: 600px;
  top: 3583px;
  position: relative;
  left: 100px;
}
.zhongjiantu {
  position: relative;
  left: 928px;
}
.zhongzi {
  position: absolute;
  left: 150px;
  width: 800px;
}
.zhong1 {
  position: absolute;
  color: inherit;
  width: 600px;
  top: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  margin: 0 0 60px;
}
.zhong2 {
  top: 230px;
  position: absolute;
  font-weight: 700;
  line-height: 1.5;
  font-size: 26px;
  margin: 0 0 15px;
  width: 800px;
}
.zhong3 {
  top: 350px;
  position: absolute;
  margin-bottom: 50px;
}
.zhongjian1 .zhongzi a {
  background-color: #ffc700;
  text-decoration: none;
  color: black;
  border-color: #ffc700;
  border-style: solid;
  border-width: 4px;
  border-radius: 40px;
  padding: 10px 50px;
}
.ertu {
  position: absolute;
  top: 540px;
  left: -150px;
  width: 928px;
}
.shangbiaoti {
  top: 630px;
  position: absolute;
  color: #ffffff;
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0 0 10px;
}
.biaoti1 {
  position: relative;
  color: #ffffff;
  padding-top: 530px;
}
.zhang2 {
  color: #ffffff;
  padding-top: 350px;
}

.santu {
  position: absolute;
  top: 1219px;
}
.xiabiaoti {
  position: relative;
  top: 420px;
}
.sanxiazi {
  position: relative;
  top: 460px;
}
.sanshanglianjie {
  position: absolute;
}

.zuixiabiejin {
  color: #ffffff;
  text-align: center;
  background-color: #46535f;
  width: 1600px;
  height: 660px;
  position: absolute;
  top: 5618px;
}
.partners {
  font-size: 28px;
  line-height: 1;
  font-weight: 50;
  margin-top: 80px;
}
.anecosystem {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: bold;
}
.zuixiadetupian {
  margin-left: 200px;
}
.silianjie {
  position: relative;
  top: 50px;
  right: 650px;
  background-color: #ffc700;
  text-decoration: none;
  color: black;
  border-color: #ffc700;
  border-style: solid;
  border-width: 4px;
  border-radius: 40px;
  padding: 10px 50px;
}
.huisedebeijin {
  position: relative;
  top: 5446px;
  background-color: #333e48;
  width: 1800px;
  height: 500px;
}
.bottomword a{
  font-size:14px;
  font-weight:400;
  color: #ffffff;
  text-decoration: none;
}
.o-list {
  list-style: none;
  left: 300px;
}
.o-list {
  position: absolute;
  top: 100px;
}
.w-list {
  position: absolute;
  left: 250px;
}
.i-list {
  position: absolute;
  left: 400px;
}
.p-list {
  position: absolute;
  left: 550px;
}
.u-list {
  position: absolute;
  left: 700px;
}
.zhongxiabiejin {
  width: 600px;
  position: absolute;
  top: 600px;
  left: 900px;
  color: #ffffff;
}
.zhongxiabiaoti {
  color: inherit;
  display: block;
  margin-bottom: 140px;
  font-size: 20px;
  font-weight: 700;
}
.zhongxiazi {
  margin-bottom: 130px ;
  font-size: inherit;
  font-size: 15px;
  font-weight: 400;
}
.neirongaaa {
  position: absolute;
  top: 50px;
}
.zhongxiachaolianjie {
  position: absolute;
  top: 150px;
  height: 200px;
  width: 300px;
}
.lansechaolianjie {
  border-bottom: none;
  color: #00c1de;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 150px;
}