body{
  margin: 0mm;
}
.qiche{
float: right;
}
.arm{
  position: absolute;
  padding-left: 30px;
}
.one {
  position: absolute;
  border-bottom-color:rgb(111, 120, 124);
  margin: 50px 1000px 0px 30px;
  
}
.two {
  position: absolute;
  margin: 90px 1000px 0px 30px;
}
.three {
  position: absolute;
  margin: 50px 1000px 0px 30px;
}
.four {
  position: absolute;
  margin: 50px 1000px 0px 30px;
}
.five {
  position: absolute;
  margin: 50px 1000px 0px 30px;
}
.six {
  position: absolute;
  margin: 50px 1000px 0px 30px;
}